# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore local envs and configs
.env
*.env
*.local
*.log

# Ignore test folders
tests/
.coverage
htmlcov/

# Ignore version control
.git
.gitignore

# Ignore Docker-specific files not needed in image
Dockerfile
.dockerignore

# Ignore Sqlite DB file
trucks.db

# Optional: IDE and OS files
.vscode/
.idea/
*.DS_Store